<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Data</title>
</head>
<body>
{% include 'top.html' %}
Show Data<br/>
{{ userInfo }}<br/>
{# 显示字典中的数据 --注释 #}
Name: {{ userInfo.name }} Age: {{ userInfo.age }} Gender: {{ userInfo.gender }}<br/> <!-- 字典对象中的属性 -->
{# 显示list, set, tuple类型数据 #}
<table border="1">
    <tr>
        <td>Name</td>
        <td>Age</td>
        <td>Gender</td>
        <td>Hobby</td>
    </tr>
    {% for us in infos %}
    <tr>
        <td>{{ us.name }}</td>
        <td>{{ us.age }}</td>
        <td>{{ us.gender }}</td>
        <td><!-- {{ us.hobby }} -->
            {% for ho in us.hobby %}
            {{ ho }},
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
<hr/>
Gender {{ userInfo.gender }} <br/>
<!--{% if userInfo.gender == 'male' %}-->
<!--Male <input type="radio" name="gender" checked>-->
<!--{% endif %}-->
<!--{% if userInfo.gender == 'female' %}-->
<!--Female <input type="radio" name="gender" checked>-->
<!--{% endif %}-->
{# 运算符之间必须要有空格——即使报错 #}
Male <input type="radio" name="gender" {% if userInfo.gender == 'male'%} checked {% endif %}>
Female <input type="radio" name="gender" {% if userInfo.gender == 'female'%} checked {% endif %}>
<br/>
Age Range:
{% if userInfo.age > 60 %}
Senior Citizen
{% elif userInfo.age >= 30 and userInfo.age <= 60 %}
Middle age
{% else %}
Teenager
{% endif %}

{% include 'bottom.html' %}
</body>
</html>