<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form action="/user/add/" method="post">
    {% csrf_token %}
    Account: <input type="text" name="userAcc" placeholder="input account"><br/>
    Password: <input type="password" name="userPass"><br/>
    Gender: <input type="radio" name="userGender" value="male" checked> Male
    <input type="radio" name="userGender" value="female"> Female <br/>
    <input type="submit" value="register">
</form>
</body>
</html>