<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script src="/static/jquery-3.5.1.min.js" charset="utf8"></script>
    <script>
    // 页面加载完过后执行这段代码
        $(document).ready(function(){
            $('#userAcc").blur(function(){  //元素设置失去焦点事件
                var acc = this.value;  // 获取输入的账号值
                if (acc != null && acc.trim().length > 0){  // 账号输入值
                    $.ajax({
                        url: '/checkAcc/',
                        type: 'get',
                        data: "userAcc=" + acc,
                        success: function(data){  //data是服务端相应的数据
                            alert(data)
                        }
                    });
                }
            });
        });
    </script>
</head>
<body>
<form action="/user/add/" method="post">
    {% csrf_token %}
    Account: <input type="text" name="userAcc" id="userAcc" placeholder="input account">
    <!-- Ajax 异步交互实时更新 -->
    <span id="accInfo"></span><br/>
    Password: <input type="password" name="userPass"><br/>
    Gender: <input type="radio" name="userGender" value="male" checked> Male
    <input type="radio" name="userGender" value="female"> Female <br/>
    <input type="submit" value="register">
</form>
</body>
</html>